<div id="container" style="width:550px;height:400px;"></div>

<p> 
  <button id="reset-btn">Reset</button>
</p>

<script type="text/javascript"> 

document.observe('dom:loaded', function(){		

  /**
   * Global options object.
   */

  function myDateFormater(inputTimeStamp) {
    mydate = new Date();
    mydate.setTime(inputTimeStamp);
    return mydate.getUTCDate()+"/"+(mydate.getUTCMonth()+1)+" " + mydate.getUTCHours() + ":" + mydate.getUTCMinutes() + ":" + mydate.getUTCSeconds()
  }

  var options = {
    color: '#ff0000',
    mouse:{track:true},
    xaxis: {min: getMinDefaultTime(1)*1000, max: getMaxDefaultTime()*1000, noTicks : 5, tickFormatter: myDateFormater},
    yaxis:{autoscaleMargin: 1},
    selection:{mode:'xy'},
    lines: {show: true,radius: 1},
    grid: {
            color: '#545454',	
            backgroundColor: '#ffffff',	
            tickColor: '#dddddd',	
            labelMargin: 3		
          }
  };
  
  
  function getMinDefaultTime(back) {
    var now = new Date();
    return (now.getTime()-back*3600000)/1000 - now.getTimezoneOffset()*60;
  };
  
  function getMaxDefaultTime() {
    var now = new Date();
    return now.getTime()/1000 - now.getTimezoneOffset()*60;
  };
  
   
  /**
   * Function displays a graph in the 'container' element, extending
   * the global options object with the optionally passed options.
   */
   
  function drawGraph(opts){
    /**
     * Clone the options, so the 'options' variable always keeps intact.
     */

    last_option = Object.extend(Object.clone(options), opts || {});
    
    var t1 =  last_option.xaxis.min/1000 || getMinDefaultTime(1);
    var t2 =  Math.min(last_option.xaxis.max/1000,getMaxDefaultTime()) || getMaxDefaultTime() ;
    
    last_option.xaxis.max = t2*1000;
    last_option.xaxis.min = t1*1000;
    
    new Ajax.Request('<%=path%>.json', {
      method:'get',
      parameters: { start_date: t1,end_date: t2},
      onSuccess: function(transport){
        var json = transport.responseText.evalJSON();
        f = Flotr.draw($('container'),[json],last_option);    
      }
    });
  
  };
  /**    alert(pos.x2);

   * Actually draw the graph.
   */

  var f = drawGraph();		
  
  /**
   * Hook into the 'flotr:select' event.
   */
  $('container').observe('flotr:select', function(evt){
    /**
     * Get the selected area coordinates passed as event memo.
     */
    var area = evt.memo[0];
    
    /**
     * What happens: empty the container element, and draw a new 
     * graph with bounded axis. The axis correspond to the selection
     * you just made.
     */
    f = drawGraph({
      xaxis: {min:area.x1, max:area.x2, noTicks : 5, tickFormatter: myDateFormater},
      yaxis: {min:area.y1, max:area.y2}						
    });
  });
  
  
  $('container').observe('flotr:click', function(evt){
    /**
     * Get the selected area coordinates passed as event memo.
     */
    var pos = evt.memo[0];

    
    /**
     * What happens: empty the container element, and draw a new 
     * graph with bounded axis. The axis correspond to the selection
     * you just made.
     */
    var range = (last_option.xaxis.max - last_option.xaxis.min)/4;
    f = drawGraph({
      xaxis: {min: (pos.x - range), max:(pos.x+range), noTicks : 5, tickFormatter: myDateFormater}
    });
  });
  

  /**
   * Observe click event on the reset-btn. Reset the graph when clicked.
   * The drawGraph function wrapped in another function otherwise it get's 
   * an Event object passed as first argument, while it expects an options
   * object.
   */
  $('reset-btn').observe('click', function(){drawGraph()});

function handle(delta) {
        if (delta > 0) {
          var range = (last_option.xaxis.max - last_option.xaxis.min)/4;
          drawGraph({xaxis: {min: last_option.xaxis.min + range, max: last_option.xaxis.max - range, noTicks : 5, tickFormatter: myDateFormater} });
        }
        else {
          var range = (last_option.xaxis.max - last_option.xaxis.min)/4;
            drawGraph({xaxis: {min: last_option.xaxis.min - range, max: last_option.xaxis.max + range, noTicks : 5, tickFormatter: myDateFormater} });
        
        }
}

/** Event handler for mouse wheel event.
 */
function wheel(event){
        var delta = 0;
        if (!event) /* For IE. */
                event = window.event;
        if (event.wheelDelta) { /* IE/Opera. */
                delta = event.wheelDelta/120;
                /** In Opera 9, delta differs in sign as compared to IE.
                 */
                if (window.opera)
                        delta = -delta;
        } else if (event.detail) { /** Mozilla case. */
                /** In Mozilla, sign of delta is different than in IE.
                 * Also, delta is multiple of 3.
                 */
                delta = -event.detail/3;
        }
        /** If delta is nonzero, handle it.
         * Basically, delta is now positive if wheel was scrolled up,
         * and negative, if wheel was scrolled down.
         */
        if (delta)
                handle(delta);
        /** Prevent default actions caused by mouse wheel.
         * That might be ugly, but we handle scrolls somehow
         * anyway, so don't bother here..
         */
        if (event.preventDefault)
                event.preventDefault();
	event.returnValue = false;
}

/** Initialization code. 
 * If you use your own event management code, change it as required.
 */
if ($('container').addEventListener)
        /** DOMMouseScroll is for mozilla. */
        $('container').addEventListener('DOMMouseScroll', wheel, false);
/** IE/Opera. */
$('container').onmousewheel =  wheel;

}); 
</script> 
