<div id="menu_navigation">
  <div id="menu_wrapper">
    <ul>
      <li class="menuSection"><%= link_to t(:blog), "/blog/" %></li>
      <li class="menuSection"><%= link_to t(:profile), "/users/" %></li>
      <li class="menuSection"><%= link_to t(:rooms), "/rooms/" %></li>
    </ul>
  </div>
</div>
