<div id="menu_navigation">
  <div id="menu_wrapper">
    <ul>
      <li class="menuSection"><%= link_to t(:rooms), "/rooms/" %></li>
      <% if session[:user].nil? %>
      <li class="menuSection"><%= link_to t(:connect), "/login/" %></li>
      <%else%>
      <li class="menuSection"><%= link_to t(:profile), "/profil/" %></li>
      <%end%>
      <li class="menuSection"><%= link_to t(:blog), "/blog/" %></li>
    </ul>
  </div>
</div>
