%h1 Users
%h2 List of users
%table.table-striped
  %tbody
    - users.each do |user|
      %tr
        %td
          = user.login

%a#add_user.btn.btn-primary.btn-large{:href =>"/users/new"}  Add user