<% meth = actuator.backend.methods.keys %>
<% meth.delete("state")%>
<% state = actuator.backend.state[0]["name"] %>
<% if state.nil?%>
<%   state= "NA" %>
<%end%>
<tr>
   <td><%=  link_to actuator.path, "/actuators#{actuator.path}" %></td>
   <td>
   <% meth.each { |m| %>
      <% if m==state %>
        <% color = "green" %>
      <% else %>
        <% color = "white" %>
      <% end %>
   <span style="background:<%=color%>"><%=link_to m + " ", "/actuators" + actuator.path + "/method/" + m%></span>
  <% } %></td>
</tr>
