<div class="actuator">
  <div class="name">
    <%=  link_to actuator.path, "/actuators#{actuator.path}" %>
  </div>
  <% actuator.get_methods.each { |m| %>
    <% if m==actuator.state %>
      <active_method>
        <%=link_to m + " ", "/actuators" + actuator.path + "/method/" + m%>
      </active_method>
    <% else %>
      <method>
        <%=link_to m + " ", "/actuators" + actuator.path + "/method/" + m%>
      </method>      
    <% end %>
  <% } %>
</div>
