<% content_for :menu_left do %>
  <ul>
    <li><%= link_to 'New Post', new_post_path %></li>
  </ul>
<% end %>

<% @posts.each do |post| %>
 <%= render :partial => 'view_post', :locals => { :post => post } %>
<% end %>
