<div class="actuator">
  <div class="name">
    <%=  link_to actuator.path, "/actuators#{actuator.path}" %>
  </div>
  <div class="value" id="<%=actuator.path%>">
    Permission denied
  </div>
</div>
