<h1>Listing sensors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Regulation Status</th>
  </tr>

<%  @rooms.sensors.each_pair{ |key, sensor| %>
 <%= render :partial => "sensors/abstract",:locals => { :sensor => sensor }%>
<%  } %>
</table>

<h1>Listing Actuators</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Metods</th>
  </tr>

<%  @rooms.actuators.each_pair{ |key, actuator| %>
 <%= render :partial => "actuators/abstract",:locals => { :actuator => actuator }%>
<%  } %>
</table>

<h1>Listing Rooms</h1>

<table>
  
    <% parent = @rooms.path.split("/"); parent.pop ; parent = parent.join("/") + "/"%>
    <tr>Parent : <%= link_to parent , "/opos" + parent %></tr>
 <% if not @rooms.backend.childs.empty? %>

  <tr>
     <td>Childs :</td> 

  <%@rooms.backend.childs.each { |ch| %>
  <td>
    <%= link_to ch.path, "/opos" + ch.path %>
  </td>
  <%}%>
  </tr>
  <%end%>
</table>
