<h1>Listing sensors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Regulation Status</th>
  </tr>

<%  @rooms.sensors.each_pair{ |key, sensor| %>
 <%= render :partial => "sensors/abstract",:locals => { :sensor => sensor }%>
<%  } %>
</table>

<h1>Listing Actuators</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Metods</th>
  </tr>

<%  @rooms.actuators.each_pair{ |key, actuator| %>
 <%= render :partial => "actuators/abstract",:locals => { :actuator => actuator }%>
<%  } %>
</table>
