
div.actuator {
  width: 500px;
  padding: 10px;
  background: #49494E;
  border: 1px solid #9149EF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

div.actuator active_method{
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

div.actuator method{
  font-size: 14px;
  padding: 10px;
}

div.actuator .name{
 margin-left: 0px;
}

div.actuator a { color: #FFF; }
div.actuator  a:visited { color: #FFF; }
div.actuator  a:hover { color: #FFF; background-color:#000; }
