
div.sensor {
  width: 450px;
  padding: 10px;
  background: #494E4A;
  border: 2px solid #3B8B38;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

div.sensor .value{
  font-size: 20px;
  font-weight: bold;
  margin-left: 270px;
}

div.sensor .name{
 margin-left: 0px;
}

div.sensor .regul{
  margin-left: 270px;
}

div.sensor a { color: #FFF; }
div.sensor  a:visited { color: #FFF; }
div.sensor  a:hover { color: #FFF; background-color:#000; }
