
body {
    background: #ececec url('../images/bg_all.png') repeat-x top left;
    color: white;
    margin-top: 20px;
    font-family: "DejaVuSansMono", "ShareTechMonoRegular", monospace;
    font-size: 12px;
}

div#page {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    background: white;
    border-bottom: 3px solid #649913;
    border-left:   3px solid #649913;
    border-right:  3px solid #649913;
    border-top:    3px solid #649913;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius:      10px 10px 10px 10px;
    background: #edfcd3 url('../images/bg_page.jpg') repeat-x top left;
}

h1 { margin-top: 40px; }
h1 a { color: white; text-decoration: none; }
h1 a:hover { color: yellow; }

div.step {
    float: left;
    width: 150px;
    color: black;
    display:block;
    margin-top: 118px; 
}

div#menu {
    float: left;
    width: 892px;
}

div.menu_with_path {
    float: left;
    width: 590px;
}

div.logo_div {
    width: 300px;
    margin-top: 40px;
    float: left;
    vertical-align:bottom; 
}


img#avatar { float: right; margin-top: -80px;}

div#frame {
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
    background: white;
    color: black;
}

div#frame li a:link { color: white; text-decoration: none;}
div#frame li a:visited { color: white; text-decoration: none;}
div#frame li a:hover { color: yellow; text-decoration: underline;}

div#footer {
    margin: 10px -10px -10px -10px;
    padding: 0px;
    background: black;
    text-align: right; 
    font-size: x-small;
    clear: both;
}


