<div class="sensor">
  <div class="name">
    <%=  link_to sensor.path,"/sensors#{sensor.path}" %>
  </div>
  <div class="value">
    <%= sensor.value + " " + sensor.unit%>
  </div>
  <div class="regul">
    Regul : <%=  sensor.regul_status %>
  </div>
</div>
