<%= render :partial => "abstract",:locals => { :sensor => @sensor }%>

<% if not @sensor.regul_status=="NA" %>
  <%= render :partial => "regulations/regul_form",:locals => { :path => @sensor.path }%>
<%end%>
<div id="container" style="width:550px;height:400px;"></div>
<%= render :partial => "shared/graph",:locals => {:path => "/sensors/graph#{@sensor.path}"}%>
<p> <button id="reset-btn">Reset</button>
    <button id="1_day">1 Day</button>
    <button id="12_hours">12 Hours</button>
    <button id="5_hours">5 Hours</button>
    <button id="1_hour">1 Hour</button>
</p>



