#menu_navigation
  #menu_wrapper
    %ul
      %li{ :class => "menuSection"}
        %a{:href=>"/rooms"} Rooms
      %li{ :class => "menuSection"}
        %a{:href=>"/login"} Login
      %li{ :class => "menuSection"}
        %a{:href=>"/profil"} Profile
      %li{ :class => "menuSection"}
        %a{:href=>"/blog"} Blog
