%h1= @obj_name 
%table.table-striped
  %tbody
    - @object.interfaces.each do |interface|
      %tr
        %td
          %a{:href => "/opos"+@obj_name+"?interface="+ interface}=interface
        %td=@object[interface].render.to_s
